@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.subtitle-contact {
    text-align: center;
    font-size: 40px;
    font-family: "Playfair Display", serif;
}

.legend-datos {
    background-color: #037bc0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}

.formulario {
    margin: auto;
}

.muebles {
    color: #037bc0;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    gap: 170px;
    font-size: 18px;
    color: black;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.container-nav {
    padding: 20px 0px;
    font-family: 'Raleway', sans-serif;
    border-top: 0.1px dashed black;

}

.cabecera {
    text-align: center;
    padding-top: 60px;
    font-size: 25px;

}

.hero {
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center
}

h2.categorias {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    padding: 60px 0px 30px 0px;

}

.container-categories {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.category {
    align-items: center;
    text-align: center;

    margin-bottom: 2rem;
}

.category img {
    display: block;
}

.category a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 20px;
    display: block;
    margin: 0;
    color: black;

    &:hover {
        background-color: #037bc0;
        color: #fff;
        overflow: hidden;
        border-bottom-right-radius: 15px;
    }

}

.principal {
    padding-bottom: 30px;
    font-family: "Playfair Display", serif;
}

.container-ours {
    display: flex;
    align-items: stretch;


}

.about_us {

    background-color: #037bc0;
    color: #fff;
    text-align: left;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;

}

.about_us h3 {

    font-size: 40px;
    font-family: "Playfair Display", serif;
}

.about_us p {
    padding: 10px;


    text-align: justify;
    line-height: 30px;
}

.img_nosotros {
    flex: 2;
}

.img_nosotros img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.products h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    padding: 50px 0px 30px 0px;
}

.product1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
}



.pd_img {
    flex: 4;

}

.pd_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pd_description {
    background-color: #037bc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px;
}

.pd_description h3 {
    color: #fff;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 0px;

}



.pd_description p {
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 25px;

}

.pd_description a {
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    background-color: #8cbc00;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-weight: bolder;
    text-align: center;

    &:hover {
        background-color: #7da828;
    }



}

.product1 {
    margin: auto;
    height: 25rem;
}

.productos-c2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px auto;
    max-width: 1200px;
    gap: 16px;

    .product-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }
}

div.product-card {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 25px;
    background-color: #037bc0;
    ;

}

.product-card article {
    background-color: #037bc0;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

article {
    padding: 20px;
}

article h3 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    margin: 15px;
}

article p {
    margin: 15px;
}

article a {
    display: inline-block;
    /* convierte el enlace en un bloque */
    width: 100%;
    color: #fff;
    text-decoration: none;
    background-color: #8cbc00;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-weight: bolder;

    &:hover {
        background-color: #7da828;
    }

}

.productos-c3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px auto;
    max-width: 1200px;
    gap: 16px;
}

.product-card2 img {
    width: 100%;
    height: 216.15px;
    object-fit: cover;
    display: block;

}

div.product-card2 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 25px;
    background-color: #037bc0;
    ;

}

.product-card h3 {
    font-family: 'Raleway', sans-serif;
}

.product-card2 h3 {
    font-family: 'Raleway', sans-serif;
}

h3.product_play {
    font-family: "Playfair Display", serif;
}

section ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 35px;



}

section ul {
    list-style: none;
}

section h2 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-bottom: 10px;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 50px 0px 16px;
    text-align: center;
}

.container-f3 {
    display: flex;
    justify-content: space-evenly;
}

.container-f3 {
    margin-top: 50px;
}

h2.nosotros-h2,
h2.title-blog {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    margin-top: 20px
}

article.container-nosotros {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    margin: 0px 100px;
}

div.container-d-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
    font-size: 16px;

}

div.container-d-n p {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
}

article div img {
    display: block;
    max-width: 1280px;
    width: 100%;
    height: 361px;
}